[ req ]
prompt = no
distinguished_name = dn
req_extensions = v3_req

[ dn ]
CN = localhost
O = Cybersecurity Course Local Lab
OU = Module 06

[ v3_req ]
subjectAltName = @alt_names
basicConstraints = critical, CA:false
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[ alt_names ]
DNS.1 = localhost
DNS.2 = reverse-proxy.lab
IP.1 = 127.0.0.1
